body{
	margin: 0;
	padding: 0;

}
.tablero{
	width: 600px;
	margin: 100px auto 0;

}
.carta{
	width: 100px;
	margin: 25px;
	float: left;
	position: relative;
	height: 150px;

}
.carta img,.mascara{
	display: block;
	width: 100%;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
}
.mascara{
	background-color: #333;
	height: 150px;
	transition: 0.5s;

}
.mostrar{
	opacity: 0;

}
.invisible{
	opacity: 0,
}