body{
	margin:0;
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;

}
nav{
	position: absolute;
	width: 100%;
	top: -100%;
	background-color: #fff;

}
.nav_visible{
	top:0;
}
.nav_abrir{
	animation: abrir 0.5s;
}
.nav_cerrar{
	animation: cerrar 0.5s;
}
nav ul{
	list-style-type: none;
	padding: 0;
	margin:0;
	clear: both;

}
nav ul li a {
	display: block;
	text-align: center;
	padding: 10px 0 ;
	text-transform: uppercase;
	color:#069;
	text-decoration: none;



}
nav ul li a:hover {
	background-color: #069;
	color: #fff;
    transition: 0.2s;

}
.close_nav{
	display: block;
	text-decoration: none;
	color: #069;
	font-size: 1.2em;
	text-align: center;
	width: 30px;
	padding: 5px 0;
	float: right;                  
}

.burger{
	display:block;
	background-color:#069;
	padding:10px;
	width:30px;
}
.linea{
	display: block;
	background-color: #fff;
	height: 5px;
	margin:3px 0;
}
@keyframes abrir {
	0%{top: -100%;}
	100%{top: 0%;}
}
@keyframes cerrar {
	100%{top: -100%;}
	0%{top: 0%;}
}
























